name: Deploy

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy files
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: deploy
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          source: "public/,server.js,data.json,package.json,deploy-agent.js"
          target: "/var/www/bm.kcju.eu/app/releases/${{ github.ref_name }}"
          strip_components: 0

      - name: Run deployment agent
        uses: appleboy/ssh-action@v0.1.0
        with:
          host: ${{ secrets.HOST }}
          username: deploy
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            cd /var/www/bm.kcju.eu/app/releases/${{ github.ref_name }}
            /opt/nodejs/bin/node deploy-agent.js ${{ github.ref_name }}
